# This is an example .env file. You should replace the values with your actual configuration.
# Note that JWT_SECRET should be a long, random string for security
# Generate the vapid keys with `npx web-push generate-vapid-keys` and replace the values below
MONGO_URI = mongodb+srv://user12345:team24dma@cluster0.eadmv9n.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT = 3000
JWT_SECRET = yourjwtsecret
VAPID_PUBLIC_KEY = generated_public_key
VAPID_PRIVATE_KEY = generated_private_key